<h1>NCSU</h1>
<p>Welcome to our Portal</p>
<div>
	<%if flash[:alert] %>
	<p id = "notice"><%= flash[:alert] %></p>
	<% end %>

	<%= form_tag do %>
	<fieldset>
		<legend> Please log in </legend>
		<div>
			<%= label_tag :name, 'Name' %>
			<%= text_field_tag :name, params[:name] %>
			<%= label_tag :password, 'password' %>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div>
			<%= submit_tag "Login" %>
		</div>
	</fieldset>

	<%= link_to 'Sign up', new_user_path %>
	<% end %>
</div>
