<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Description</th>
      <th>Instructor</th>
      <th>Status</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.number %></td>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td><%= course.instructor %></td>
        <td><%= course.status %></td>
        <td><%= course.startdate %></td>
        <td><%= course.enddate %></td>
        <td><%= link_to 'Show', course %></td>
        <% if current_user.usertype == "Student" %>
        <td><%= link_to 'Enroll', {:controller =>'course_mappings', :action => 'enroll', :id => course.id} %></td>
        <% elsif current_user.usertype == "Instructor"%>
        <td><%= link_to 'Requests', {:controller =>'course_mappings', :action => 'show_requests', :id => course.id} %></td>
        <td><%= link_to 'Enrolled Students', {:controller =>'courses', :action => 'show_enrolled_students', :id => course.id} %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Materials', {:controller =>'materials', :action => 'show', :id => course.id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
<%= link_to 'BACK', {:controller =>'users', :action => 'current_user_home'} %>