<p id="notice"><%= notice %></p>

<h1>Materials</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.course_id %></td>
        <td><%= material.information %></td>
        <td><%= link_to 'Show', material %></td>
        <% if current_user.usertype == "Instructor" %>
          <td><%= link_to 'Edit', edit_material_path(material) %></td>
          <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.usertype == "Instructor" %>
  <%= link_to 'New Material', new_material_path %>
<% end %>